	
	
	
	<div>
    <img src="portPizza.jpg" height="300px" width="100%"/>
    </div>


<div>
	<h1>Billing page</h1>
    <h2>{{orderedPizza}}</h2>
    
    <label id="xyz">Firstname:</label>
    <input type="text" id="Firstname" value="enter you name here" maxlength="8"/>
       <br/>
        
    <label id="xyz" >LastName:</label>
    <input type="text" id="txtLastName"/> 
    
        <br/>
        
                
    <label id="xyz" >Gender</label>
    <input type="radio" id="rdbgendermale" name="gender"   />male
    <input type="radio" id="rdbgenderfemale" name="gender"  />female
            
       <br/>
    
    <label id="xyz" >Select Card</label>
            <select id="Country">
            <option >please select</option>
            <option > Credit Card</option>
            <option > Debit card </option>    
            </select>
    
    <br/>
    
    <label id="xyz" >Card Number:</label>
    <input type="text" />
    <br/>
    
     <label id="xyz" >Expiry Date:</label>
    <input type="text" />
    
    <br/>
    
     <label id="xyz" >CVV:</label>
    <input type="text" />
    
    <br/>
    
    <input type="submit" value="PAY NOW"/>
    
     
</div>